body {
    background-color: lavender;
}

.container1 {
    border: 1px solid red;
}

.container1 nav {
    border: 1px solid black;
    display: inline-block;
    width: 49%;
    /*width: calc(50% - 4px);*/
    text-align: right;
    vertical-align: middle;
}

.container1 h1 {
    border: 1px solid goldenrod;
    display: inline-block;
    /*remember: block elements let you specify width;*/
    width: 49%;
    /*width: calc(50% - 4px); */
    vertical-align: middle;
}


.container2 {
    background-color: grey;
    border: 1px solid black;
}

.container2 h1 {
    background-color: lightyellow;
    float: left;
}

.container2 nav {
    background-color: lightblue;
    float: right;
    margin-top: 30px;
}


.container3 {
    display: flex;
    border: 1px dotted green;
    justify-content: space-between;
    align-items: center;
}

.container3 nav {
    /*border: 1px solid navy;*/
}
.container3 nav a {
    margin-left: 8px;
}

.container3 h1 {
    /*border: 1px solid orange;*/
}

